/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  color: #1a202c;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
br {
  margin: 0;
  padding: 0;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

.container {
  min-width: 1170px;
  max-width: 1170px;
  margin: 0 auto;
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #2c5b90 !important;
}

@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.main-header {
  padding-top: 16px;
}
.main-header .container .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .container .main-nav .logo {
  max-width: 33.3333333333%;
  display: flex;
  align-items: center;
}
.main-header .container .main-nav .logo .logo-img {
  margin-right: 10px;
  width: 32px;
  height: 44px;
}
.main-header .container .main-nav .logo .logo-txt {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  letter-spacing: -0.4px;
  /* Text/Heading */
  color: #2d3958;
}
.main-header .container .main-nav .nav-links {
  max-width: 33.3333333333%;
  display: flex;
  align-items: center;
}
.main-header .container .main-nav .nav-links .link {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header .container .main-nav .nav-links .link a {
  margin-bottom: 10px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  /* Text/Text */
  color: #7b88a8;
  text-transform: uppercase;
}
.main-header .container .main-nav .nav-links .link .active-icon {
  visibility: hidden;
}
.main-header .container .main-nav .nav-links .link:hover a {
  color: #2d3958;
}
.main-header .container .main-nav .nav-links .link:hover .active-icon {
  visibility: visible;
}
.main-header .container .main-nav .nav-links .link:last-child {
  margin-right: 0;
}
.main-header .container .main-nav .utilities {
  display: flex;
  align-items: center;
  max-width: 33.3333333333%;
}
.main-header .container .main-nav .utilities .magnifying-glass {
  margin-right: 20px;
  cursor: pointer;
}
.main-header .container .main-nav .utilities .shopping-cart-container {
  margin-right: 30px;
  position: relative;
  height: 24px;
  cursor: pointer;
}
.main-header .container .main-nav .utilities .shopping-cart-container .active-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.main-header .container .main-nav .utilities .btn-signup {
  padding: 12px 38px;
  background: #886cff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

/*# sourceMappingURL=header.css.map */
